*, html, body {
    margin: 0 ;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width : 100%;
    height: 80px;
    background-color: #562B08;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.searching {
    display: flex;
    justify-content: left;
}

.resizedTextbox {
    width: 300px;
    height: 30px;
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    font-weight: 700px;
}

.logoi {
    color: crimson;
}

.logod {
    color: whitesmoke;
    padding-left: 7px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 20px;
}

.navigation>li>a {
    color: whitesmoke;
    text-decoration: none;
}

.navigation>li>a:hover {
    color: #C16F36;
    transition: all .3s ease-in-out;
}

body {
    background: #C16F36;
}

.foto-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.img-content {
    padding: 30px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 30px;
    padding: 10px;
    width : 100%;
    height: 25px;
    background-color: #C16F36;
}

.section-title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 30px;
    padding: 10px;
    width : 100%;
    height: 25px;
}

.main {
    display: flex;
    flex-direction: column;
}


.paragraf {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biodata {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.copyright {
    background-color: whitesmoke;
    display: flex;
    font-size: 15px;
    color: #562B08;
    height: 20px;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: rgb(59, 40, 1);
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor:pointer;
}

input[type="checkbox"]:checked{
    background-color: rgb(178, 135, 70); 

}

  input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark{
    background-color: rgb(0, 0, 0);
    color: white;
}



@media screen and (min-width: 400px) and (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: column;
    }
}