* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header {
    background-color: rgb(0, 155, 216);
    color: white;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 40px;
} */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    background-image: #562B08;
    background-color: #562B08;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 40px;
}

.form-class {
    width: 50%;
    margin: auto;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

label {
    font-size: larger;
}

.form-text {
    width: 100%;
    height: 40px;
    margin: 10px 0px 20px;
}

.btn-submit {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-left: 350px;
    font-size: larger;
    border-style: none;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}

.btn-submit:hover {
    background-color: rgb(1, 126, 175);
}

textarea {
    margin-top: 20px;
}

/* ----------- Tampil.php ----------- */

.list-table {
    width: 100%;
    margin: auto;
}

.list-table1 {
    width: 100%;
    margin: auto;
}

.tambah {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}

.tambah:hover {
    background-color: rgb(0, 124, 173);
}

.tambah1 {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(0, 155, 216);
    color: white;
}

.tambah1:hover {
    background-color: rgb(0, 124, 173);
}

table {
    margin-top: 30px;
}

.thead {
    border: none;
    background-color: grey;
    color: white;
}

td, th {
    padding: 15px 20px;
}

th {
    padding: 10px 0px;
}

td {
    border-bottom: 1px solid grey;
}

table a {
    padding: 10px;
    border-radius: 10px;
}

.edit a {
    background-color: orange;
    color: white;
}

.hapus a {
    background-color: red;
    color: white;
}

.edit a:hover{
    background-color: rgb(223, 145, 0);
}

.hapus a:hover {
    background-color: rgb(179, 0, 0);
}

.edit1 a {
    background-color: orange;
    color: white;
}

.hapus1 a {
    background-color: red;
    color: white;
}

.edit1 a:hover{
    background-color: rgb(223, 145, 0);
}

.hapus1 a:hover {
    background-color: rgb(179, 0, 0);
}

.edit2 a {
    background-color: orange;
    color: white;
}

.hapus2 a {
    background-color: red;
    color: white;
}

.edit2 a:hover{
    background-color: rgb(223, 145, 0);
}

.hapus2 a:hover {
    background-color: rgb(179, 0, 0);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C16F36;
}

.container {
    width: 50%;
    padding: 5%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #C16F36;
    border-radius: 25px;

    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
}

.form {
    padding-top: 30px;
}

.input {
    margin: 10px 0px;
    padding: 10px 5px;
    width: 95%;
}

.submit {
    margin-top: 10px;
    padding: 10px;
    width: 97%;
    border: 1px solid;
    border-radius: 50px;

    font-size: medium;

    background-color: rgb(48, 100, 71);
    color: white;
}

.submit:hover {
    background-color: rgb(22, 30, 26);
}

.regis a{
    text-decoration: none;
    color: rgb(80, 159, 146);
}

.login {
    display: flex;
    margin-top: 10%;
    margin-bottom: 13%;
}

.login a {
    text-decoration: none;
    color: rgb(22, 30, 26);
}

.login .input {
    border: 1px solid white;
    border-radius: 50px;
    padding-left: 10px;

    background-color: rgb(255, 255, 255);
    color: rgb(74, 60, 60);
}

.login h3 {
    text-align: center;
    margin-bottom: 10px;
}

